{% load static %}
<!doctype html>
<html lang="en">
  <head>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  


<style>
body{
  font-family: OCR A Std, monospace	;
  background-color: rgba(1, 0, 5, 0.986);
}

#cat{
  background-color: red;
}

.textcat{
  color:white;
  text-align:center;
}

.footer{
  bottom: 0;
  background-color: black   ;
  padding-top:10px;
  width:100%;
  color: rgb(55, 165, 233);

}

{% comment %} .footer {
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
} {% endcomment %}

#hovercat:hover
{
    opacity: 0.5;
    }


#hoverimg:hover{
  opacity: 0.7;
}

#titleimg{
  font-size: 20px;
  color: yellow;
  }


</style>



<body>

    <!-- ******************************* NAVBAR *****************************************************             -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'index' %}" id="titleimg"><b>IMAGEBOOK</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <a class="nav-link" href="{% url 'index' %}">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="https://www.youtube.com/channel/UCWvAi5w0HnioCtMgYO1ldjg">About</a>
          </li>
      {% if user.is_authenticated %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'image-upload' %}">Image</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>



{% block body %}

<!-- Header -->
<header class="w3-display-container w3-content w3-center" style="max-width:1500px">
  <img class="w3-image" src="{% static 'dani1.jpg' %}" alt="Me" width="1500" height="600">
  <div class="w3-display-middle w3-padding-large w3-border w3-wide w3-text-light-grey w3-center">
    <b><h1 class="w3-hide-medium w3-hide-small w3-xxxlarge">IMAGEBOOK</h1></b>
    <h5 class="w3-hide-large" style="white-space:nowrap">IMAGEBOOK</h5>
    <h5 class="w3-hide-large" style="white-space:nowrap">An Image Gallery</h5>
    <h2 class="w3-hide-medium w3-hide-small">An Image Gallery</h2>
    {% if user.is_authenticated %}
    <a href="{% url 'image-upload' %}"><button class="btn btn-warning">Post Image</button></a>
    {% else %}
    <a href="{% url 'login' %}"><button class="btn btn-info">login</button></a>
    <a href="{% url 'register' %}"><button class="btn btn-success">Signup</button></a>
    {% endif %}
    
  </div>
</header>



{% comment %} ***********************************  CATEGORIES  ************************************ {% endcomment %}
<div class="container-fluid m-0">
<hr>
<h1 class="textcat">CATERORIES</h1>
 <hr> 
</div>


<div class="container-fluid">
    <!-- MAIN CODE -->
    <div class="row">
        <div class="col-md-2" >
            <!-- category -->
            <ul class="list-group mt-3 ml-1">
                <a href=' {% url 'index' %} ' class="list-group-item active">All Images</a>

                {% for c in categories %}
                <a href="/category/{{c.pk}}" class="list-group-item">{{c.title}}</a>
                {% endfor %}

            </ul>

        </div>

{% comment %} </div>
 
      <div class="col-md-12">
          <!-- images -->
          <div class="row mt-2 ">
              <div class="col-md-14">
                  <div class="card-columns">
                          {% for c in categories %}
                          <div class="card text-white bg-dark mb-3" id="hovercat">
                          <h5><a href="/category/{{c.pk}}" class="card-text">{{c.title}}</a></h5>
                           </div>
                        </div>
  

                  </div>

              </div>
          </div>
          
      </div>
  </div>  {% endcomment %}




   <div class="col-md-10">
            <!-- images -->
            <div class="row mt-2 ">
                <div class="col-md-12">
                    <div class="card-columns">
                    {% for i in page_obj %}
                        <div class="card text-white bg-dark mb-3">
                        <img class="card-img-top" id="hoverimg" src="{{i.image.url}}" alt="Card image cap" onclick="showModelwithImage('{{i.image.url}}')">
                        <div class="card-body">
                              <h6 class="card-title">Posted by: {{i.user}}</h6>

                             <form action = "{% url 'like_post' %}" method = "POST" >
                                {% csrf_token %}
                                <input type='hidden' name='image_id' value='{{i.id}}'>
                                {% if user not in i.liked.all %}
                                        <button class="btn btn-success" type='submit'>Like</button>
                                {% else %}
                                        <button class="btn btn-danger" type='submit'>Unlike</button>
                                {% endif %}

                                <strong>{{i.liked.all.count}} Likes</strong>
                                    {% if i.user == user %}
                                       <a href= "{% url 'delete' i.id %}" class="fa fa-trash" style="font-size:20px;color:red;float:right;></a>
                                    {% endif %}
                                        <a href="{{i.image.url}}" downloads ><i class="fa fa-download" style="font-size:20px;color:yellow; float:right;"></i></a>

                                </form>
                        </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

{% endblock %}









<!-- *************************************** Modal **************************************-->
<div class="modal " id="image-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content"  style="background-color: rgb(39, 38, 38)">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white;">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <img src="#" id="image-show" class="img-fluid" alt="">
      </div>
    
    
    </div>
  </div>
</div>

</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  



{% comment %} {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

{% endif %} {% endcomment %}



    {% block footer %}

       
         <footer class="footer">
   
           <!-- Footer Elements -->
           <div class="container-siddh">
       
           <!-- Social buttons -->
           <ul class="list-unstyled list-inline text-center">
               <li class="list-inline-item">
               <a href="https://www.facebook.com/siddhesh.mhatre.355" class="btn-floating btn-fb mx-2">
                   <i class="fab fa-facebook fa-2x" > </i>
               </a>
               </li>
               <li class="list-inline-item">
               <a href="https://www.instagram.com/__siddheshm36/" class="btn-floating btn-tw mx-2">
                   <i class="fab fa-instagram fa-2x" > </i>
               </a>
               </li>
               <li class="list-inline-item">
               <a href='https://web.whatsapp.com/' class="btn-floating btn-gplus mx-2">
                   <i class="fab fa-whatsapp fa-2x"> </i>
               </a>
               </li>
               <li class="list-inline-item">
               <a href="https://mail.google.com/" class="btn-floating btn-li mx-2">
                   <i class="fab fa-google-plus fa-2x"> </i>
               </a>
               </li>
           </ul>
           <!-- Social buttons -->
       
           </div>
           <!-- Footer Elements -->
       
           <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2020 Copyright:<br>
           <a href="https://www.instagram.com/__siddheshm36/">Created by Siddhesh Mhatre</a>
           </div>
           <!-- Copyright -->
    
           
         </footer>
   {% endblock footer %}


{% comment %} *************************** JavaScript ***************************{% endcomment %}
  <script>
    function showModelwithImage(imageUrl)
    {
      $('#image-modal').modal('show')
      $("#image-show").attr('src',`${imageUrl}`)
    }
  </script>
  

  </body>
</html>
