{% extends 'index.html' %}

{% block body %}


<div class="container-fluid m-0">
    <!-- MAIN CODE -->
  

        <div class="col-md-12">
            <!-- images -->
            <div class="row mt-2 ">
                <div class="col-md-14">
                    <div class="card-columns">
                    {% for i in images %}
                        <div class="card text-white bg-dark mb-3" id="hoverimg">
                        <img class="card-img-top" src="{{i.image.url}}" alt="Card image cap" onclick="showModelwithImage('{{i.image.url}}')">
                        <div class="card-body">
                            <h5 class="card-title">Posted by: {{i.user}}</h5>
                            <p>on: {{i.date_posted}}</p>
                            <a href="#" class="btn btn-primary" onclick="showModelwithImage('{{i.image.url}}')" >View</a>
                            <a href="{{i.image.url}}" class="btn btn-primary" style="background-color: red;" downloads >Download</a>
                            {% if i.user == user %}
                                    <a href= "{% url 'delete' i.id %}" class="btn btn-info"> Delete</a>
                            {% endif %}
                                
                                <form action = "{% url 'like_post' %}" method = "POST" >
                                {% csrf_token %}
                                <input type='hidden' name='image_id' value='{{i.id}}'>
                                {% if user not in i.liked.all %}
                                        <button class="btn btn-success" type='submit'>Like</button>
                                {% else %}
                                        <button class="btn btn-warning" type='submit'>Unlike</button>
                                {% endif %}
                                </form>
                                <strong>{{i.liked.all.count}} Likes</strong>

                        </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>




{% endblock body %}




  
